
@{
    ViewBag.Title = "Index";

}
<div class="container">
    <div class="row justify-content-md-center">
        <img class="pt-5"  src="~/Content/CSSLOGIN/images/pp.png" alt="IMG">
    </div>
</div>
